.Part {
    /* border: 1px solid; */
    /* width: 300; */
    margin-bottom: 10px;
    margin-left: 5px;
}
.Part h2 {
  margin-bottom: 5px;
}

button {
  margin-left: 5px;
}
.Part > div {
  margin-left: 5px;
  margin-top: 5px;
}

.Template textarea {
  max-width: 500px;
  min-width: 500px;
  min-height: 100px;
}

.CustomizeContainer, .TableListContainer {
  border: 1px solid;
  max-width: 500px;
  width: 500px;
  max-height: 200px;
  /* height: 180px; */
  overflow: scroll;
}

.CubeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 10px;
  max-width: 500px;
}

.CustomizeItem, .TableListItem {
  margin:5px;
  font-size: 15px;
  border-bottom: 1px solid;
  padding: 5px;
}

.TableListContainer .TableListItem {
  font-size: 10px;
  /* background-color: rgb(113, 143, 243); */
}
 .Name {
  width: 80px;
  max-width: 80px;
  margin-right: 5px;
}

 .Dec {
  width: 200px;
  max-width: 200px;
}

.Cube {
  margin: 0px;
  padding: 0px;
  border-collapse:collapse;
}

.CubeItem {
  text-align: center;
  /* border: 1px solid; */
  margin: 3px;
}

.CubeAddSub {
  float: right;
}

.CubeItem > select {
  width: 60px;
}


.CubeItem > input {
  width: 60px;
}


.CubeButton {
  width: 10;
  height: 10;
  font-size: 10px;
}
.CubeKeyName {
  border: 0px;
  width: auto;
  min-width: 50px;
  max-width: 80px;
  text-align: center;
}

.OutPutContainer {
  display: flex;
  flex-direction: row;
}

.OutPutContainer textarea {
  width:  150px;
  height: 100px;
  max-width: 200px;
  max-height: 130px;
  margin-right: 15px;

}

.OutPutContainer  button {
  width: 80px;
  height: 30px;
  margin-top: 20px;;
  font-size: 15px;
}

.OutPutContainer  a {
  margin-left: 90px;
}

body {
  font-size: 15px;
}